#index-page {
  .blogTitle {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #1e73be;
    font-family: "Noto Serif", serif;
    &:hover {
      color: black;
    }
  }
  .date {
    text-align: start;
    margin-top: 20px;
  }
  img {
    height: 150px;
    width: 100%;
  }
}

#blog-post-container {
  color: #fff;
  .header {
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  img:nth-child(2) {
    height: auto;
    max-width: 50%;
    min-width: 250px;
    margin: 0 auto;
    display: block;
  }
  hr {
    border-top: none;
  }
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding: 40px;

  & .welcome {
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
}

.blogs-container {
  display: flex;
  flex-wrap: wrap;
}

.social-share {
  & img {
    cursor: pointer;
  }
}

.post-item {
  background-color: rgb(241, 240, 240);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Noto Serif", serif;
}

.input-search {
  border: 1px solid #e5e5e5;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  &:focus {
    border: 2px solid rgb(6, 182, 212);
    padding: 9px;
  }
}
