#index-page {
  #blog-header {
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
  }
  .blogsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -10px;
  }
  .blogPost {
    width: 25%;
    text-align: center;
    padding: 0 15px;
    margin: 10px 0;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .blogPost > div {
    background-color: #f2f2f2;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    height: 300px;
  }
  .blogTitle {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
  }
  .date {
    text-align: start;
    margin-top: 20px;
  }
  img {
    height: 150px;
    width: 100%;
  }
  @media (max-width: 1199px) {
    .blogPost {
      width: 50%;
    }
  }
  @media (max-width: 782px) {
    .blogPost {
      width: 100%;
    }
  }
}

#blog-post-container {
  color: #fff;
  .header {
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  img:nth-child(2) {
    height: auto;
    max-width: 50%;
    min-width: 250px;
    margin: 0 auto;
    display: block;
  }
  hr {
    border-top: none;
  }
}

.main {
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  & .welcome {
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
}

.blogs-container {
  display: flex;
  flex-wrap: wrap;
}

.social-share {
  & img {
    cursor: pointer;
  }
}
