.navbar {
  margin-top: 20px;
  font-family: "Noto Serif", serif;
}

.introduce {
  margin-top: 20px;
  padding: 100px 0;
  font-family: "Noto Serif", serif;
  background: grey;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2 em;
  transform-origin: 0 100px;
}
.menu-icon {
  display: none;
}

@media all and (max-width: 1280px) {
  .menu-desktop {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

.model {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: transparent;
}

@keyframes open {
  from {
    left: -300px;
    right: 400px;
  }
  to {
    left: 0;
    right: 100px;
  }
}
@keyframes close {
  from {
    left: 0;
    right: 100px;
  }
  to {
    left: -300px;
    right: 400px;
  }
}
.menu-open {
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 20px;
  z-index: 3;
  background: #4d4748;
  color: #fff;
  animation-name: open;
  animation-duration: 0.5s;
}

.menu-close {
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 250px;
  padding: 20px;
  z-index: 3;
  background: #4d4748;
  color: #fff;
  animation-name: close;
  animation-duration: 0.5s;
}
.menu-close-first {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300px;
  padding: 20px;
  z-index: 3;
  background: #4d4748;
  color: #fff;
}

.about {
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
  margin-top: 150px;
  padding: 40px;
  @media all and (max-width: 768px) {
    margin-top: 50px;
  }
  &__title {
    float: left;
    width: 50%;
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
  &__info {
    float: left;
    width: 50%;
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
}
