.navbar {
  box-sizing: border-box;
  margin-top: 20px;
  font-family: "Noto Serif", serif;
}
.menu-icon {
  display: none;
}

@media all and (max-width: 1280px) {
  .menu-desktop {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

.model {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: transparent;
}

@keyframes open {
  from {
    left: -300px;
    right: 400px;
  }
  to {
    left: 0;
    right: 100px;
  }
}
@keyframes close {
  from {
    left: 0;
    right: 100px;
  }
  to {
    left: -300px;
    right: 400px;
  }
}
.menu-open {
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 20px;
  z-index: 3;
  background: #4d4748;
  color: #fff;
  animation-name: open;
  animation-duration: 0.5s;
}

.menu-close {
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 250px;
  padding: 20px;
  z-index: 3;
  background: #4d4748;
  color: #fff;
  animation-name: close;
  animation-duration: 0.5s;
}
